################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/MesaLivre/FileContentIndex/7c981fd4-ac29-4591-b09f-c11ed6d26632.vsidx
/.vs

